extends layout

block content
  h1 Figures

  div
    a(href="/figures/import") Import
  div
    a(href="/figures/list/figures") Figures
  div
    a(href="/figures/list/boxes") Boxes
  div
    a(href="/figures/list/notes") Notes
  div
    a(href="/figures/list/tags") Tags
