extends layout

block content
  h1 Select figures

  div#firstImage(style='visibility: hidden; position: fixed; right: 0px; bottom: 0px')

  form#formSearch(name="search")
    input#inputSearch(type="text",placeholder="search",name="username")

  form#formSelect(name="select",method="post",action="#{path}")
    input#inputFigure(type="hidden",name="id",value="#{id}")
    include ./selectfigures.jade
    button#buttonSubmit(type="submit") select
