extends layout

block content
  h1 Notes

  div#firstImage(style='visibility: hidden; position: fixed; right: 0px; bottom: 0px; width: 500px; height: 500px')

  form#formSearch(name="search")
    input#inputSearch(type="text",placeholder="search",name="search")
  ul(id="results")
    include ./listnotespartial.jade

  script.
    function showImage(imageId) {
      var div = document.getElementById('firstImage');
      div.style.visibility = 'visible';
      div.innerHTML = "<img src='/figures/list/firstimage?id=" + imageId + "' style='display: block; max-width: 100%; max-height: 100%; width: auto; height: auto; right: 0px; bottom: 0px; position: absolute'></img>";
    }
    function hideImage() {
      var div = document.getElementById('firstImage');
      div.style.visibility = 'hidden';
    }

    var input = document.getElementById("inputSearch");
    input.onkeyup = function(e) {
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        if (req.readyState==4 && req.status==200) {
          var ul = document.getElementById("results");
          ul.innerHTML = req.responseText;
        }
      };
      req.open('GET', '/figures/list/notes?search=' + input.value);
      req.send();
    };
