extends layout

block content
  h1 Figures

  div#firstImage(style='visibility: hidden; position: fixed; right: 0px; bottom: 0px; width: 500px; height: 500px')

  div
    a(href="/figures/add/figure") +

  form#formSearch(name="search")
    input#inputSearch(type="text",placeholder="search",name="username")

  include ./selectfigures.jade
