ul(id="results")
  include ./listfigurespartial.jade

script.
  function showImage(imageId) {
    var div = document.getElementById('firstImage');
    div.style.visibility = 'visible';
    div.innerHTML = "<img src='/figures/list/firstimage?id=" + imageId + "' style='display: block; max-width: 100%; max-height: 100%; width: auto; height: auto; right: 0px; bottom: 0px; position: absolute'></img>";
  }
  function hideImage() {
    var div = document.getElementById('firstImage');
    div.style.visibility = 'hidden';
  }

  var selector = !{selector};
  var selected = !{JSON.stringify(figureSelected)};
  var tags = !{"\"" + tags.join(',') + "\""};

  var input = document.getElementById("inputSearch");
  input.onkeyup = function(e) {
    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
      if (req.readyState==4 && req.status==200) {
        var ul = document.getElementById("results");
        ul.innerHTML = req.responseText;
      }
    };
    var q = '/figures/list/figures?search=' + input.value;
    if (tags.length > 0)
      q += "&tags=" + tags;
    if (selector) {
      // toggle things
      var inputs = document.getElementsByTagName('input');
      for (var i = 0; i < inputs.length; ++i) {
        var field = inputs[i];
        if (field.type === "checkbox") {
          selected[field.id] = field.checked;
        }
      }

      q += '&selector&selected=' + JSON.stringify(selected);
    }
    req.open('GET', q);
    req.send();
  };
